{
  "extends": "eslint:recommended",

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "no-console": 0,
    "eqeqeq": 2,
    "no-spaced-func": 2,
    "quotes": [2, "single"],
    "indent": 2,
    "curly": 2,
    "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
    "comma-style": [2, "last"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "one-var": [2, "never"],
    "semi-spacing": 2,
    "space-before-function-paren": [2, "never"],
    "space-after-keywords": [2, "never"],
    "space-before-keywords": [2, "always"]
  }
}
